---
import { Image } from "astro:assets";
const { title, description, image, imageAlt, link, linkText, price } =
    Astro.props;
const finalLink = link ?? "https://buy.stripe.com/8x26oIb7seZPfvj4qe8bS00";
const finalLinkText = linkText ?? "Sign up";
---

<section class="flex flex-col lg:flex-row mx-4 gap-6 sm:gap-4 sm:mt-4">
    <Image
        src={image}
        alt={imageAlt}
        class="rounded-lg shadow-2xl self-start sm:self-center lg:self-start max-w-xs md:max-w-md"
    />
    <div class="sm:mx-4 flex flex-col gap-4 sm:max-w-2/3 sm:self-center">
        <h1 class="text-5xl leading-14 font-bold">{title}</h1>
        <p class="mb-4">
            ${price} USD
        </p>
        <a href={finalLink}
            ><button class="btn btn-primary btn-lg btn-wide"
                >{finalLinkText}</button
            ></a
        >
        <slot name="content">
            <!-- Default content if no slot is provided -->
            <h2 class="text-4xl font-bold">{title}</h2>
            <p class="text-xl">{description}</p>
        </slot>
    </div>
</section>
