---
import { Image } from "astro:assets";

const {
    title,
    description,
    image,
    imageAlt,
    class: className,
    link,
    linkText,
    ...rest
} = Astro.props;

const finalLink = link ?? "https://buy.stripe.com/8x26oIb7seZPfvj4qe8bS00";
const finalLinkText = linkText ?? "Sign up";
---

<div class:list={["sm:hero", className]} {...rest}>
    <div
        class="sm:hero-content flex flex-col lg:flex-row mx-4 gap-8 md:gap-14 lg:gap-20"
    >
        <Image src={image} alt={imageAlt} class="rounded-lg shadow-2xl" />
        <div>
            <h1 class="text-5xl font-bold">{title}</h1>
            <p class="py-6">
                {description}
            </p>
            <a href={finalLink}
                ><button class="btn btn-primary">{finalLinkText}</button></a
            >
        </div>
    </div>
</div>
