---
import {Image} from "astro:assets";

const { title, description, image, imageAlt, class: className } = Astro.props;
---

<div class={`hero bg-base-200 flex-1 flex items-center justify-center ${className}`}>
  <div class="hero-content flex-col lg:flex-row">
    <Image
      src={image}
      alt={imageAlt}
      class="max-w-sm rounded-lg shadow-2xl"
    />
    <div>
      <h1 class="text-5xl font-bold">{title}</h1>
      <p class="py-6">
        {description}
      </p>
      <a href="https://buy.stripe.com/8x26oIb7seZPfvj4qe8bS00"><button class="btn btn-primary">Sign up</button></a>
    </div>
  </div>
</div>